.downloads {
  // Вспомогательная обводка
  border: 1px solid blue;
}

.downloads__inner {
  padding: 20px;
  background-color: @bg-download;
}

.downloads__text {
  line-height: 24px;
  font-weight: 300;
  color: @text-color-light;
}
