.icon {

  &--logo-white {
    display: block;
    position: absolute;
    top: 22px;
  }

  &--close {
    display: inline-block;
    fill: @text-color-light;

    /*&:hover {
      fill: @brand-primary;
    }

    &:active {
      fill: @brand-primary;
      fill-opacity: 0.3;
    } */
  }

  &--ios {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--windows {
    width: 44px;
    height: 41px;
  }

  &--yes {
    width: 31px;
    height: 21px;
  }

  &--no {
    width: 27px;
    height: 26px;
  }

  &--like {
    fill: @brand-primary;
  }

  &--social {
    fill: @brand-primary;

    &:hover {

    }

    &:active {
      fill: @brand-primary-opacity;
    }
  }

  &--htmlacademy {
    fill: @brand-primary;

    &:hover {
      fill: @text-color;
    }

    &:active {
      fill: @disabled-color-hover;
    }
  }
}
