.main-nav {
  position: relative;
  background-color: @bg-header;

  @media @desktop-width {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 128px;
    background-color: @header-opacity;
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 66px;
    padding: 0 20px;
    border-bottom: 1px solid @nav-border-dark;

    @media @tablet-width {
      padding: 0 40px;
      min-height: 109px;
    }

    @media @desktop-width {
      background-color: @header-opacity;
      border: none;
    }
  }

  &__button {
    display: block;
    position: relative;
    width: 66px;
    height: 70px;

    @media @desktop-width {
      display: none;
    }
  }

  &__toggle {
    //иконка бургера
    &--lines {
      position: absolute;
      top: 31px;
      right: 0px;
      width: 50px;
      height: 4px;
      background-color: @toggle-color;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: @toggle-color;
      }

      &::before {
        top: -10px;
        box-shadow: 0 1px 0 -1px @header-opacity;
      }

      &::after {
        top: 10px;
        box-shadow: 0 -1px 0 -1px @header-opacity;
      }
    }
    //иконка крестика
    &--cross {
      position: absolute;
      width: 32px;
      height: 5px;
      top: 30px;
      right: 16px;
      transform: rotate(45deg);
      background-color: @toggle-color;

      &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 5px;
      transform: rotate(90deg);
      background-color: @toggle-color;
      }
    }
  }

  &__button:hover &__toggle,
  &__button:hover &__toggle:before,
  &__button:hover &__toggle:after {
    background-color: @toggle-hover;
  }

  &__button:active &__toggle,
  &__button:active &__toggle:before,
  &__button:active &__toggle:after {
    background-color: @toggle-down;
  }

  &__list {
    @media @desktop-width {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

   /* &--closed {
      display: none;
    }

    &--nojs {
      display: flex;
    }

    &--opened {
      display: flex;
    }
    */
  }

  &__item {
    text-align: center;
    border-top: 1px solid @nav-border;
    border-bottom: 1px solid #000000;

    @media @desktop-width {
      padding: 0 41px;
      border: none;
    }
  }

  &__link {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: @text-color-light;

    @media @desktop-width {
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      text-transform: none;
    }

    &:hover {
      color: @brand-primary;
      border-color: @brand-primary;
    }

    &:active {
      color: @brand-primary;
      opacity: 0.3;

      @media @desktop-width {
        color: @text-color-light;
        border-color: @text-color-light;
        opacity: 0.3;
      }
    }

    &--active {
      @media @desktop-width {
        border-bottom: 2px solid @text-color-light;
      }
    }
  }
}
