.main-nav {
  background-color: @bg-header;

  @media @desktop-width {
    display: flex;
  }

  &--opened {
    display: block;
  }

  &--closed &__list {
    display: none;
  }

  &--nojs &__list {
    display: block;
  }

  &__panel {
    //box-sizing: border-box;
    width: 100%;
    height: 66px;
    border-bottom: 1px solid #000000;

    @media @desktop-width {
      background-color: @header-opacity;
    }
  }

  &--closed &__panel {
    background-color: @header-opacity;
    border: none;
  }

  &__button {
    position: relative;
    float: right;
    display: inline-block;
    padding-right: 20px;
    width: 70px;
    height: inherit;
    //background: lightblue;

    @media @desktop-width {
      display: none;
    }
  }

  &__toggle {
    //иконка бургера
    &--lines {
      position: absolute;
      top: 31px;
      right: 20px;
      width: 50px;
      height: 4px;
      background-color: @toggle-color;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: @toggle-color;
      }

      &::before {
        top: -10px;
        box-shadow: 0 1px 0 -1px @header-opacity;
      }

      &::after {
        top: 10px;
        box-shadow: 0 -1px 0 -1px @header-opacity;
      }
    }
    //иконка крестика
    &--cross {
      position: absolute;
      width: 32px;
      height: 5px;
      top: 30px;
      right: 16px;
      transform: rotate(45deg);
      background-color: @toggle-color;

      &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 5px;
      transform: rotate(90deg);
      background-color: @toggle-color;
      }
    }
  }

  &__button:hover &__toggle,
  &__button:hover &__toggle:before,
  &__button:hover &__toggle:after {
    background-color: @toggle-hover;
  }

  &__button:active &__toggle,
  &__button:active &__toggle:before,
  &__button:active &__toggle:after {
    background-color: @toggle-down;
  }

  &__list {

    @media @desktop-width {
      float: right;
      display: inline-flex;
      justify-content: space-between;
      width: 625px;
      padding-bottom: 27px;
      background-color: @header-opacity;
    }
  }

  &__item {
    text-align: center;
    border-top: 1px solid @nav-border;
    border-bottom: 1px solid #000000;

    @media @desktop-width {
      display: inline-block;
      border: none;
    }
  }

  &__link {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: @text-color-light;

    &:hover {
      color: @brand-primary;
    }

    &:active {
      color: @brand-primary;
      opacity: 0.3;
    }

    /* &--active {

      @media @desktop-widths {
        border-bottom: 1px solid @text-color-light;

        &:hover {
          border-bottom: 1px solid @brand-primary;
        }
      }
    }  */



  }
}
